## 类型: enum (lombok.core.configuration.CallSuperType)
## 可选值: [CALL | SKIP | WARN]
## 作用: 生成equals 和 hashCode方法时, callSuper的默认值
lombok.equalsAndHashCode.callSuper = CALL
## 类型: enum (lombok.core.configuration.CallSuperType)
## 作用: 生成toString方法时, callSuper的默认值
lombok.toString.callSuper = SKIP
## 类型: boolean
## 作用: tostring方法不调用getter方法而是直接使用字段值
lombok.toString.doNotUseGetters = false