<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- ***********                                                                     ************ -->
<!-- ***********                    b a s e - s c r i p t                            ************ -->
<!-- ***********                                                                     ************ -->
<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<th:block th:fragment="base-script">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script><!-- jquery -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.min.js"></script><!-- semantic -->
</th:block>


<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- ***********                                                                     ************ -->
<!-- ***********                    h e a d ( t i t l e )                            ************ -->
<!-- ***********                                                                     ************ -->
<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- head -->
<th:block th:fragment="head(title)">
	<!-- <base th:href="${#request.getContextPath()}+'/'" > --><!-- 解决路径头疼问题 (弃用:导致锚有问题)-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[[${title}]]</title>
    <!-- <link rel="icon" type="image/x-icon" th:href="@{/dist/images/favicon.ico}" /> --><!-- springboot配置(头疼) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui-css@2.4.1/semantic.min.css" ><!-- semantic css框架 -->
    <link rel="stylesheet" th:href="@{/dist/css/me.css}"><!-- 自定义CSS样式 -->
    <link rel="stylesheet" th:href="@{/dist/lib/tocbot//dist/tocbot.css}"><!--文章目录-->
    <link rel="stylesheet" th:href="@{/dist/css/typo.css}"><!-- 内容排版 -->
    <link rel="stylesheet" th:href="@{/dist/lib/prism/prism.css}"> <!--代码高亮-->
    <link rel="stylesheet" th:href="@{/dist/lib/nprogress/nprogress.css}"> <!-- 进度条 -->
    
    
    <!-- 引入 b a s e - s c r i p t -->
	<th:block th:replace=":: base-script"></th:block><!-- semantic、jquery -->
</th:block>

<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- ***********                                                                     ************ -->
<!-- ***********                    m e n u ( n )                                    ************ -->
<!-- ***********                                                                     ************ -->
<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!--topnav-->
<!--[解释]
    ui : 组件
    container : 响应式容器
    segment  : 片段 - 显示为一个占位框
    attached : 贴图效果 - 两个segment联合
    inverted ： 黑色(反转)
    m-padded-tb-mini : 自己家的
-->
<nav th:fragment="menu(n)"  class="ui inverted attached segment m-padded-tb-mini  m-shadow-small"> 
    <div class="ui container ">
        <div class="ui inverted secondary stackable menu m-margin-bottom-tiny"><!--stackable 可堆叠，适应手机端-->
            <h2 class="ui item header basic"> lassss <font color="#39CCCC"> Cat </font> ~ </h2> <!--teal:颜色-->
            <a data-pjax waifu th:href="@{/blog/index}" 	th:classappend="${n==1} ? 'active'" class="m-item item m-mobile-hide" ><i class=" home icon"></i>首页</a><!-- waifu --><!--m-item为了选择-->
            <a data-pjax waifu th:href="@{/blog/types}"		th:classappend="${n==2} ? 'active'" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a data-pjax waifu th:href="@{/blog/tags}" 		th:classappend="${n==3} ? 'active'" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <a data-pjax waifu th:href="@{/blog/archives}" 	th:classappend="${n==4} ? 'active'" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
            <a data-pjax waifu th:href="@{/blog/about}" 	th:classappend="${n==5} ? 'active'" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
            <!-- 搜索栏 -->
            <div class="m-item right aligned item m-mobile-hide">
	            <div class="ui category  search">
			    	<div class="ui icon input"><!--transparent:透明效果-->
				      <input class="prompt" type="text" placeholder="  Search ...">
				      <i class="search link icon"></i>
				    </div>
				    <div class="results"></div>
		  		</div>
            </div>
            <!-- *************************************** -->
            <!-- ****                               **** -->
            <!-- ****             login             **** -->
            <!-- ****                               **** -->
		    <th:block th:if="${user} ne null">
		   	<th:block th:replace="/fragments/_sys_fragments :: sys_menu"></th:block> 
		    </th:block>
            <!-- *************************************** -->
            <!-- *************************************** -->
            <!-- *************************************** -->
            <!-- *************************************** -->
        </div>
    <div>
    <button class="ui menu toggle black icon button m-right-top m-mobile-show"><!--这里的 menu toggle 没有任何显示效果，只是为了 后续的选择 方便 -->
        <i class="sidebar icon"></i>
    </button>
</nav>







<!--                                                                                        
                                                                                       
                                                                                       
      ,---,                        ,---,                        ,---,                  
    ,---.'|   ,---.              ,---.'|   ,---.              ,---.'|   ,---.          
    |   | :  '   ,'\             |   | :  '   ,'\             |   | :  '   ,'\         
    |   | | /   /   |            |   | | /   /   |            |   | | /   /   |        
  ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :        
 /   ,'   |'   | |: :         /   ,'   |'   | |: :         /   ,'   |'   | |: :        
.   '  /  |'   | .; :        .   '  /  |'   | .; :        .   '  /  |'   | .; :        
'   ; |:  ||   :    |        '   ; |:  ||   :    |        '   ; |:  ||   :    |        
|   | '/  ' \   \  /         |   | '/  ' \   \  /         |   | '/  ' \   \  /         
|   :    :|  `----'          |   :    :|  `----'          |   :    :|  `----'          
 \   \  /                     \   \  /                     \   \  /                    
  `----'                       `----'                       `----'                     
                                                                                     -->










<!-- base > resource > common -->



<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- ***********                                                                     ************ -->
<!-- ***********                r e s o u r c e - s c r i p t       (页面必备)          ************ -->
<!-- ***********                                                                     ************ -->
<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- resource-script -->
<th:block th:fragment="resource-script">


<!-- pjax 异步加载 -->
<script th:src="@{/dist/lib/pjax/jquery.pjax.js}" type="text/javascript"></script>
<!-- 点击 换背景 -->
<script async id="ribbon" size="150" alpha='0.3' zIndex="-2" th:src="@{/dist/lib/canvas-ribbon/canvas-ribbon.js}"></script>
<!-- 点击 炸裂 -->
<canvas async id="fireworks" style="position:fixed;left:0;top:0;pointer-events:none;"></canvas>
<script async type="text/javascript" th:src="@{/dist/js/shubiao.js}"> </script>
<!-- 进度条 配合pjax 香 -->
<script th:src="@{/dist/lib/nprogress/nprogress.js}" type="text/javascript"></script>
</th:block>




<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- ***********                                                                     ************ -->
<!-- ***********                c o m m o n - s c r i p t         (特效)              ************ -->
<!-- ***********                                                                     ************ -->
<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- common-script -->
<th:block th:fragment="common-script">
<!-- 引入 r e s o u r c e - s c r i p t -->
<th:block th:replace=":: resource-script"></th:block>

<!-- 看板娘 -->
<script async src="https://cdn.jsdelivr.net/npm/jqueryui@1.11.1/jquery-ui.min.js" ></script><!-- 实现拖动效果，需引入 JQuery UI -->
<script async th:src="@{/dist/lib/live2d-demo/assets/autoload.js}" ></script><!-- 看板娘 异步加载 -->
<!-- 文章(我弱我有理..) -->
<script async th:src="@{/dist/lib/tocbot/dist/tocbot.js}"></script><!--文章目录-->
<script async th:src="@{/dist/lib/qrcodejs/qrcode.js}"></script><!--生成二维码-->
<script async th:src="@{/dist/lib/waypoints/jquery.waypoints.min.js}"></script><!--检测工具。还有其他强大功能-->
<script async src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script><!--top平滑滚动-->
<script async th:src="@{/dist/lib/prism/prism.js}"></script><!--代码高亮-->

<script type="text/javascript">
/*
 * 动画效果
 */
$("#mainContentId").transition({
	animation: 'fly left in' 
});
$(document).on('pjax:end', function(event) {
	$("#mainContentId").transition({
		animation: 'fade in' 
	}); //委托:换页 动画
});
/*
 * 进度条, 配合 Pjax 食用
 */
NProgress.configure({
	ease:'ease-in-out',
	speed:300  //进度条速度
});
NProgress.start();
$(document).ready(NProgress.done);
$(document)
.on('pjax:start', NProgress.start)
.on('pjax:end', NProgress.done);
/*
 * Pjax - 异步
 */
$(document).on('click', 'a[target!=_blank][data-pjax]', function(event) {
	$.pjax.click(event, {
		 container: '#mainContentId' , 
		 fragment:'#mainContentId' 
	 });
});
/*
 * [显示]/[隐藏]手机端 侧边按钮 
 */
$('nav').on('click' , '.menu.toggle' , function(e) {//手机端响应
    $('.m-item').toggleClass('m-mobile-hide');//toggleClass 切换样式状态
}) ;
/*
 * manu active 事件 
 */
$('nav').on('click' , "a.m-item" ,function(e) {//切换
	$("a.m-item").removeClass("active");
	$(this).addClass("active");
});
/*
 * 下拉框
 */
function a() {
	//qq
	$('.qq').popup({
	    on: 'hover' , 
	    transition: 'drop'
    });
	//wetchat
    $('.wechat').popup({
        popup:$('#wechat-qr'),
        on: 'hover',
        position: 'bottom center'
    });
	//下拉框
	$('.ui.dropdown').dropdown({
	    on: 'hover' , 
	    action: 'select' , 
	    transition: 'drop'
	});
}
$(document).on('pjax:end' , a);
$(document).ready(a);
</script>
</th:block>






<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- ***********                                                                     ************ -->
<!-- ***********                F o r -  [ A r t i c l e ]                           ************ -->
<!-- ***********                                                                     ************ -->
<!-- ******************************************************************************************** -->
<!-- ******************************************************************************************** -->
<!-- for 文章 -->
<th:block th:fragment="article-script">
<script type="text/javascript">
$(function() {
/*
 * 消息
 */
$('#tocButton').popup({
  popup : $('#tocScreen'),
  on    : 'hover' ,
  inline   : true, 
  hoverable: true,
  position : 'left center'
}) ; 
$('.wechat').popup({
  popup:$('#phone-qr'),
  on: 'hover',
  hoverable: true,
  inline   : true,
  position : 'left center',
  transition: 'drop'
}); 
$('#payButton').popup({
    popup : $('#payScreen'),
    on    : 'hover' , 
    inline   : true,
    hoverable: true,
    position : 'top center'
}) ; 
$("#toTopButton,#comment-container").click(function() {
  $.scrollTo(0 , 500 );
}) ; 
/*
 * 目录
 */
tocbot.init({//目录
    // Where to render the table of contents.
    tocSelector: '.js-toc',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.js-toc-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h1, h2, h3',
    // For headings inside relative or absolute positioned containers within content.
    hasInnerContainers: true,
});
/*
 * 代码高亮
 */
Prism.highlightAll();
/*
 * 二维码
 */
var qrcode = new QRCode(document.getElementById("phone-qr"), {
   text: "http://jindo.dev.naver.com/collie",
   width: 110,
   height: 110,
   colorDark : "#000000",
   colorLight : "#ffffff",
   correctLevel : QRCode.CorrectLevel.H
});
/*
 * 侧边栏 时显时没
 * 检测工具。还有其他强大功能
 */
var waypoint = new Waypoint({
  element: document.getElementById('mainContentId'),
  handler: function(direction) {
    if(direction == 'down' ) {
      $('#toolbar').show(300) ;
    }else  {
      $('#toolbar').hide(500) ;
    }
  }
});
});
</script>

</th:block>
