<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<th:block th:fragment="sys_menu">
<!-- 写博客按钮 -->
<a waifu th:href="@{/system/md}" target="_blank" class="ui item m-item teal inverted button right aligned m-mobile-hide">
    <i class="pencil alternate icon "></i>写博客
</a>
<!-- user栏 -->
<div class="ui inverted menu" >
    <div class="ui item m-item dropdown m-mobile-hide">
        <div  class="text">
            <img th:src='@{${user.avatarUrl}}' class="ui avatar image" ><font id="nicknameId">[[${user!=null?user.nickname:'???'}]]</font>
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a data-pjax th:classappend="${n==6} ? 'active'" th:href="@{/system}" class="item m-item">博客管理</a>
            <a data-pjax th:classappend="${n==7} ? 'active'" th:href="@{/system/types}" class="item m-item">分类管理</a>
            <a data-pjax th:classappend="${n==8} ? 'active'" th:href="@{/system/tags}" class="item m-item">标签管理</a>
            <a th:href="@{/doLogout}" class="item">注销</a>
        </div>
    </div>
</div>	
</th:block>


