<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<th:block th:fragment="sys_menu">
<!-- 写博客按钮 -->
<button waifu class="ui item m-item teal inverted button right aligned m-mobile-hide">
    <a data-pjax th:href="@{/system/md}" target="_blank"><i class="pencil alternate icon "></i>写博客</a>
</button>
<!-- user栏 -->
<div class="ui inverted menu" >
    <div class="ui item m-item  dropdown m-mobile-hide">
        <div  class="text">
            <img th:src='@{${user.avatarUrl}}' class="ui avatar image" ><font id="nicknameId">[[${user!=null?user.nickname:'???'}]]</font>
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a data-pjax th:href="@{/system}" class="item m-item active">博客管理</a>
            <a data-pjax th:href="@{/system/types}" class="item m-item">分类管理</a>
            <a data-pjax th:href="@{/system/tags}" class="item m-item">标签管理</a>
            <a th:href="@{/doLogout}" class="item">注销</a>
        </div>
    </div>
</div>	
<script type="text/javascript">//角色管理(上面) 下拉框
$('.ui.dropdown').dropdown({
    on: 'hover' , 
    action: 'select' , 
    transition: 'drop'
});
</script>
</th:block>


