<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.EventMapper">
    <resultMap id="Event" type="org.example.model.Event">
        <result column="id" property="id"/>
        <result column="param" property="param"/>
    </resultMap>
    <update id="updateById">
        update events set
        param = #{po.param} format json
        where id = #{po.id}
    </update>

    <select id="findByParam" resultMap="Event">
        select * from events
        <where>
            <if test="param.id != null">
                id = #{param.id}
            </if>
        </where>
    </select>

    <insert id="insert">
        insert into events (
            id,
            param
        ) values (
            #{po.id},
            #{po.param} format json
        )
    </insert>
</mapper>