body{
    background: url("../images/background.png");
}

/*------ 间距padded ----------------------*/
.m-padded-mini{
    padding: 0.2em !important;
}
.m-padded-tiny{
    padding: 0.3em !important;
}
.m-padded-tb-mini{ /*行间距 - 最小*/
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{/*行间距 - 很小*/
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{/*行间距 - 小*/
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{/*行间距*/
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{/*行间距 - 大*/
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{/*行间距 - 大大*/
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{/*行间距 - 大大大*/
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{/*行间距 - 最大*/
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


.m-padded-lr{
    padding-left: 4em;
    padding-right: 4em;
}


/*----- 内间距 margin ------------------*/
.m-margin-tb-tiny{
    margin-bottom: 0.3em !important ; 
    margin-top: 0.3em !important ;
}
.m-margin-top-small{
    margin-top: 0.5em !important;
}
.m-margin-top{
    margin-top: 1em !important;
}
.m-margin-top-large{
    margin-top: 2em !important;
}

/*--------- text -----------*/
.m-text-thin {
    font-weight: 300 !important;/*字大小*/
}
.m-text-spaced {
    letter-spacing: 1px !important; /*字间距*/
}
.m-text-lined{
    line-height: 1.8;/*行间距*/
}

/*-------- opacity --------------*/
.m-opacity-mini {
    opacity: 0.8 !important; /*透明度*/
}
.m-opacity-tiny{
    opacity: 0.6 !important ;
}


/*----  display  ------------------*/
.m-inline-block{
    display: inline-block !important ;
}

/*----- position ------------------*/
.m-right-top{
    position: absolute;
    top: 1em;
    right: 1em;
}

/*---- container ------------------*/
.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}
.m-container{
    max-width: 72em !important;
    margin: auto !important;
}

/*-----------color-----------*/
.m-black{
    color: #333 !important;
}

/*-----*/
.m-mobile-show{
    display: none !important;
}
@media screen and (max-width: 768px){
    /* 手机时候 隐藏 */
    .m-mobile-hide{
        display: none !important;
    }
    /* 手机时候 出现 */
    .m-mobile-show{
        display: block !important;
    }
}
