<div class="ui container">
    <div class="ui stackable grid">
        <!--
         左边 - 主要内容 - 文章
        -->
        <div class="eleven wide column">
             <!--
             左边 - 内容 - header！
             -->
            <div class="ui attached segment">
                <!--middle aligned:垂直方向居中-->
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header ">最近发布</h3>
                    </div>
                    <div class="right aligned column">
                        <!--m-inline-block : 自定义，改为行内元素-->
                        共 <h3 class="ui orange m-text-thin m-inline-block header">14</h3> 篇
                    </div>
                </div>
            </div>
            <!--
                 左边 - 内容 - main！
            -->
            <div class="ui attached segment">
        


                 <!-- 文章1 -->
                <div class="ui padded segment">
                    <!--  mobile reversed:图片上面显示 -->
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui  item" onclick="javascript:doLoadUrl('/blog/blog')">linux系列之常用运维命令整理笔录</h3>
                            <p>本博客记录工作中需要的linux运维命令，大学时候开始接触linux，
                                会一些基本操作，可是都没有整理起来，加上是做开发，不做运维，有些命令忘记了，
                                所以现在整理成博客....
                                https://blog.csdn.net/u014427391/article/details/102785219
                            </p>
                            <div class="ui stackable grid"><!-- 下标 -->
                                <!--semantic width 16-->
                                <div class="eleven wide column">
                                    <!--horizontal:水平布局-->
                                    <div class="ui horizontal link list">
                                        <div class="item">
                                            <!--avatar : 小圆形-->
                                            <img src="dist/images/placeholder.jpg" alt="" class="ui avatar image">
                                            <!--content 加一些文字 -->
                                            <div class="content">
                                                <!--原先h3, 现在a标签，让颜色变蓝-->
                                                <a href="#" class="header">lawssssCat</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i>2017-10-01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>2342
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <!--image:图片在div内-->
                                <!--备选占位图:
                                    href=https://unsplash.it/800/450?image=1005
                                -->
                                <img src="dist/images/index-read.gif" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>




               



            </div>
             <!--
             左边 - 内容 - footer！
             -->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <!-- basic:按钮变白-->
                        <a href="#" class="ui mini teal basic button">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>
        </div>
        <!--
             右边 - 侧边栏
        -->
        <div class="five wide column ">
             <!--
             分类
             -->
            <!--segments : segment的容器（注意，这里有s）-->
            <div class="ui segments">
                <!--右边 - 侧边栏 - 标题-->
                <div class="ui secondary segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <i class="idea icon"></i>分类
                        </div>
                        <div class="right aligned column">
                            <!--
                            angle double right icon - 
                            来自 
                            - https://semantic-ui.com/elements/icon.html
                            -->
                            <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                        </div>
                    </div>
                </div>
                <!--右边 - 侧边栏 - 内容-->
                <div class="ui teal segment">
                    <!--
                    竖的 vertical 
                    菜单 menu
                    填充 fluid
                    -->
                    <div class="ui vertical fluid menu">
                        <!--item特性：文字后，随便内容向右对齐-->
                        <!--
                        teal basic : 颜色、样式
                        left pointing : 小尖角
                        -->
                        <a href="#" class="item">
                            学习日志
                            <div class="ui teal basic left pointing label">13</div>
                        </a>
                        <a href="#" class="item">
                            思考与感悟
                            <div class="ui teal basic left pointing label">13</div>
                        </a>
                        <a href="#" class="item">
                            学习日志
                            <div class="ui teal basic left pointing label">13</div>
                        </a>
                        <a href="#" class="item">
                            学习日志
                            <div class="ui teal basic left pointing label">13</div>
                        </a>
                        <a href="#" class="item">
                            学习日志
                            <div class="ui teal basic left pointing label">13</div>
                        </a>
                    </div>
                </div>
                
            </div>

             <!--
             标签
             -->
            <div class="ui segments m-margin-top-large">
                 <!-- 标签: 头  -->
                <div class="ui secondary segment">
                    <div class="ui two column grid">
                        <div class="column">
                            <i class="tags icon"></i>标签
                        </div>
                        <div class="right aligned column">
                            <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                        </div>
                    </div>

                </div>
                 <!--标签：列表-->
                <div class="ui teal segment ">

                    <!-- 标签：item -->
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        方法论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        法论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        法论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        方法论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        法论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        法论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        论ss <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        法ss论 <div class="detail">23</div></a>
                    <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
                        论ssssss <div class="detail">23</div></a>

                </div>
            </div>

             <!--最新推荐-->
            <div class="ui segments m-margin-top-large">
                 <!--头部-->
                <div class="ui secondary segment">
                    <i class="bookmark icon"></i>
                        最新推荐
                </div>
                 <!--内容-->

                <div class="ui segment ">
                    <a href="#" target="_blank" class="m-black m-text-thin" >用户故事 (User Story)</a>
                </div>
                <div class="ui segment ">
                    <a href="#" target="_blank" class="m-black m-text-thin" >用户故事 (User Story)</a>
                </div>
                <div class="ui segment ">
                    <a href="#" target="_blank" class="m-black m-text-thin" >用户故事 (User Story)</a>
                </div>
                <div class="ui segment ">
                    <a href="#" target="_blank" class="m-black m-text-thin" >用户故事 (User Story)</a>
                </div>

            </div>
             <!--二维码-->
            <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                <!--
                card:边框
                centered :居中
                -->
                <div class="ui centered card" style="width: 11em">
                    <img src="dist/images/wechat.jpg" alt="" class="ui rounded image"  >
                </div>
            </di>

        </div>
    </div>
</div>
