<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- 后台管理界面 -->
<!-- 引入 -->
<head th:insert="/fragments/_fragments :: head('标签管理界面')"></head>
<body>
<!-- 引入 -->
<nav th:replace="/fragments/_fragments :: menu(8)"></nav>



<!--                                                                                        
                                                                                       
                                                                                       
      ,---,                        ,---,                        ,---,                  
    ,---.'|   ,---.              ,---.'|   ,---.              ,---.'|   ,---.          
    |   | :  '   ,'\             |   | :  '   ,'\             |   | :  '   ,'\         
    |   | | /   /   |            |   | | /   /   |            |   | | /   /   |        
  ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :        
 /   ,'   |'   | |: :         /   ,'   |'   | |: :         /   ,'   |'   | |: :        
.   '  /  |'   | .; :        .   '  /  |'   | .; :        .   '  /  |'   | .; :        
'   ; |:  ||   :    |        '   ; |:  ||   :    |        '   ; |:  ||   :    |        
|   | '/  ' \   \  /         |   | '/  ' \   \  /         |   | '/  ' \   \  /         
|   :    :|  `----'          |   :    :|  `----'          |   :    :|  `----'          
 \   \  /                     \   \  /                     \   \  /                    
  `----'                       `----'                       `----'                     
                                                                                       -->

<!--mind 中间内容-->
<div id="mainContentId" class="m-container-large m-padded-tb-big"><!--m-padded-tb-big 自定义-->



<div class="ui container"><!--container，外层容器，适合响应移动端-->
    <!--1-->
    <form action="javascript:doFindPageObjects(1)" class="ui segment form">
        <div class=" fields inline"><!--inline：宽度非全-->
        	<!-- 输入框 -->
            <div class=" field">
                <input type="text" placeholder="类型" name="searchName">
            </div>
            <!-- 搜索按钮 -->
            <div class="field">
                <button class="ui teal  button" ><i class="search icon"></i>搜索</button>
            </div>
        	<div>
        		<font id="totalDataCountId" >xx</font> 条数据
			</div>
        </div>
    </form>
    <!--2-->
    <table class="ui celled teal table "><!--celled网格-->
        <thead>
            <tr>
                <th>
	                <div class="ui  toggle checkbox">
					    <input type="checkbox" id="checkAll">
					    <label for="checkAll">全选</label>
					</div>
                </th>
                <th>序号</th>
                <th>标签</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="dataBodyId">
        	<!-- 主数据 -->
            <tr><td>loading...</td></tr>
        </tbody>
        <tfoot id="dataFootId">
            <tr>
                <th colspan="100" class="actions"><!--colspan合并列-->
                   	<a href="javascript:toEditPage()" class="ui green inverted button item left aligned">添加</a>
                    <div id="pageCurrentMenuId" class="ui right floated pagination menu">
                        
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>



<script type="text/javascript">
/*
 * 编辑
 */
$("#dataBodyId").on("click" , " .edit" , function(e) {
	var $tr = $(this).parents("tr");
	var data = $tr.data("rowData");
	toEditPage(data.id);
}) ; 
/*
 * 删除
 */
$("#dataBodyId").on("click" , " .delete" , function(e) {
	var $tr = $(this).parents("tr") ; 
	var data = $tr.data("rowData");
	if(confirm("确认删除 "+data.name + "?")) {
		var id = data.id ;
		deleteObject(id) ; 
	}
}) ;
//ajax - delete
function deleteObject(id) {
	var url = "[[@{/tag/deleteObject}]]" ; 
	$.ajax({
		url : url ,
		data: {id:id} , 
		type: "delete" , 
		success: function(result) {
			if(result.state==1||result.state==0) {
				alert(result.message);
				doFindPageObjects();
			}
		}
	}) ;
}
/*
 * 分页
 */
//init
$(document).ready(doFindPageObjects(1));
$("#pageCurrentMenuId").on("click"," a", function(e) {
	var page = 1 ;  
	var $active = $(this).siblings(".active") ; 
	if($(this).hasClass("previous")){
		if($active.prev().hasClass("previous")) return ;
		page = $active.prev().html() ;  
	}else if($(this).hasClass("next")) {
		debugger;
		if($active.next().hasClass("next")) return ; 
		page = $active.next().html() ;  
	}else {
		page = $(this).html() ;
	}
	doFindPageObjects(page);
});
//find - page - ajax
function doFindPageObjects( pageCurrent , name ) {
	if(pageCurrent==null) pageCurrent = $("#pageCurrentMenuId a.active").html();
	if(name==null) name = $("[name='searchName']").val() ; 
	var url = "[[@{/tag/findPageObject}]]" ; 
	$.ajax({
		url: url , 
		data: {
			name: name , 
			pageCurrent: pageCurrent
		}, 
		type: "GET" ,
		dataType: "json" , 
		success: function(result) {
			showResultData(result) ; 
		}
	});
};
//展示页面数据
function showResultData(result) {
	var totalDataCount = 0 ; // 总数据 
	if(result.state==1) { //查找成功
		$("#dataBodyId").empty();
		var pageObject = result.data ;
		//-------------------------- 数据(主题)
		$.each(pageObject.datas , function(index , item) {
			var $checkbox = $("<td></td>")
			.html("<div class='ui toggle checkbox'><input type='checkbox'><label></label></div>");
			var $index = $("<td></td>").html(index+1); 
			var $name = $("<td></td>").html(item.name); 
			var $operation = $("<td></td>") //
			.html("<a class='ui mini blue inverted button edit'>编辑</a>"
				 +"<a class='ui mini red inverted button delete'>删除</a>") ;
			var $tr = $("<tr></tr>") // 行节点
			.append($checkbox)
			.append($index)
			.append($name)
			.append($operation);
			$("#dataBodyId").append($tr);
			//--------------- data 存id
			$tr.data("rowData" , item);
		}); 
		//---------------------
		showPageMenu(pageObject.pageTotal, pageObject.pageCurrent); //页码
		totalDataCount = pageObject.totalDataCount//总数据
	}else if(result.state==0) {//查找失败
		$td = $("<td></td>").html(result.message);
		$tr = $("<tr></tr>").append($td);
		$("#dataBodyId").html($tr);
	}
	$("#totalDataCountId").html(totalDataCount);
}
//更新页码
//page-menu
function showPageMenu(pageTotal , pageCurrent) {
	var menu = $("#pageCurrentMenuId") ; 
	menu.empty();
	menu.append("<a class='icon item previous'><i class='left chevron icon'></i></a>");
	for(var i=1 ; i<=pageTotal ; i++) {
		var n = $("<a class='item'>"+i+"</a>") ;
		if(i==pageCurrent){
			n.addClass("active");
		}
		menu.append(n);
	}
	menu.append("<a class='icon item next'><i class='right chevron icon'></i></a>");
}

/*
 * 弹框 - ajax
 */
//[隐藏]编辑弹窗
function toEditPage(id) {
	var url = "[[@{/system/tags_edit}]]"  ;
	if(id!=null&&id>0) url = url + "/" + id ; 
	$.pjax({
		url: url , 
		container: '#mainContentId' , 
		fragment:'#mainContentId' 
	});
}

</script>


</div>


<!--                                                                                        
                                                                                       
                                                                                       
      ,---,                        ,---,                        ,---,                  
    ,---.'|   ,---.              ,---.'|   ,---.              ,---.'|   ,---.          
    |   | :  '   ,'\             |   | :  '   ,'\             |   | :  '   ,'\         
    |   | | /   /   |            |   | | /   /   |            |   | | /   /   |        
  ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :        
 /   ,'   |'   | |: :         /   ,'   |'   | |: :         /   ,'   |'   | |: :        
.   '  /  |'   | .; :        .   '  /  |'   | .; :        .   '  /  |'   | .; :        
'   ; |:  ||   :    |        '   ; |:  ||   :    |        '   ; |:  ||   :    |        
|   | '/  ' \   \  /         |   | '/  ' \   \  /         |   | '/  ' \   \  /         
|   :    :|  `----'          |   :    :|  `----'          |   :    :|  `----'          
 \   \  /                     \   \  /                     \   \  /                    
  `----'                       `----'                       `----'                     
                                                                                       -->


<th:block th:replace="/fragments/_fragments :: common-script"></th:block>




</body>
</html>