<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- 后台管理界面 -->
<!-- 引入 -->
<head th:insert="/fragments/_fragments :: head('分类管理界面')"></head>
<body>
<!-- 引入 -->
<nav th:replace="/fragments/_fragments :: menu(null)"></nav>



<!--                                                                                        
                                                                                       
                                                                                       
      ,---,                        ,---,                        ,---,                  
    ,---.'|   ,---.              ,---.'|   ,---.              ,---.'|   ,---.          
    |   | :  '   ,'\             |   | :  '   ,'\             |   | :  '   ,'\         
    |   | | /   /   |            |   | | /   /   |            |   | | /   /   |        
  ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :        
 /   ,'   |'   | |: :         /   ,'   |'   | |: :         /   ,'   |'   | |: :        
.   '  /  |'   | .; :        .   '  /  |'   | .; :        .   '  /  |'   | .; :        
'   ; |:  ||   :    |        '   ; |:  ||   :    |        '   ; |:  ||   :    |        
|   | '/  ' \   \  /         |   | '/  ' \   \  /         |   | '/  ' \   \  /         
|   :    :|  `----'          |   :    :|  `----'          |   :    :|  `----'          
 \   \  /                     \   \  /                     \   \  /                    
  `----'                       `----'                       `----'                     
                                                                                       -->

<!--mind 中间内容-->
<div id="mainContentId" class="m-container-large m-padded-tb-big"><!--m-padded-tb-big 自定义-->



<div class="ui container"><!--container，外层容器，适合响应移动端-->
    <!--1-->
    <form action="javascript:doFindPageObjects()" method="POST" class="ui segment form">
        <div class="fields inline"><!--inline：宽度非全-->
        	<!-- 输入框 -->
            <div class="field">
                <input type="text" placeholder="类型" name="searchName">
            </div>
            <!-- 搜索按钮 -->
            <div class="field">
                <button class="ui teal basic button" ><i class="search icon"></i>搜索</button>
            </div>
        </div>
    </form>
    <!--2-->
    <table class="ui celled table"><!--celled网格-->
        <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
               <!--  <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th> -->
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="dataBodyId">
            <tr><td>loading...</td></tr>
        </tbody>
        <tfoot id="dataFootId">
            <tr>
                <th colspan="3" class="actions"><!--colspan合并列-->
                   	<a href="javascript:doShowEditModel()" class="ui positive button item left aligned">添加</a>
                    <div id="pageCurrentMenuId" class="ui right floated pagination menu">
                        <a class="icon item previous">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item active">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item next">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- 填写~弹窗 -->
<div id="editModal" class="ui modal small transition coupled first">
	<!-- 加载器 -->
	<div id="editLoader" class="ui inverted dimmer">
	  <div class="ui text loader">处理中</div>
	</div>
	<!-- 表格 -->
	<div class="header">添加分类</div>
	<div class="content">
	  <div id="editForm" class="ui form ">
	  	<div class="field" style="display:none;">
	  		<input id="editId">
	  	</div>
		<div class="field">
			<div class="ui left labeled input">
		 	<label for="editName" class="ui teal basic label">名称</label>
		   <input id="editName" placeholder="分类名称" type="text" >
			</div>
		</div>
		<div class="actions aligned right">
			<div onclick="javascript:doHideEditModel()" class="ui button">Cancel</div>
			<div class="ui green button submit">确认</div>
		</div>
	  </div>
	</div>
</div>
<!-- 结果~弹窗 -->
<div id="resultModel" class="ui mini second coupled modal transition" style="margin-top: -98px;">
	<div class="ui header">处理结果</div>
  <div class="content">
    <div class="description">
      <p id="resultMessage">這是全部了！</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui approve button"><i class="checkmark icon"></i> 知道了 </div>
  </div>
</div>

<script type="text/javascript">
/*
 * 分页
 */
//page-menu
$(document).on("click","#pageCurrentMenuId a", function(e) {
	var $active = $("#pageCurrentMenuId a.active") ; 
	if($(this).hasClass("previous")){
		if($active.prev().hasClass("previous"))return ; 
		$active.prev().addClass("active") ; 
	} else if($(this).hasClass("next")){
		if($active.next().hasClass("next"))return ; 
		$active.next().addClass("active") ; 
	}else{
		$(this).addClass("active") ; 
	}
	$active.removeClass("active");
	doFindPageObjects();
});
//find - page - ajax
function doFindPageObjects() {
	var name = $("[name='searchName']").val() ; 
	var pageCurrent = $("#pageCurrentMenuId a.active").html();
	var url = "[[@{/type/findPageObject}]]" ; 
	$.ajax({
		url: url , 
		data: {
			name: name , 
			pageCurrent: pageCurrent
		}, 
		type: "GET" ,
		dataType: "json" , 
		success: function(result) {
			showResultData(result)
		}
	}) 
}
//更新页面
function showResultData(result) {
	if(result.state==1) {
		$("#dataBodyId").empty();
		var pageObject = result.data ;
		$.each(pageObject.datas , function(index , item) {
			var $id = $("<td></td>").html(index); 
			var $name = $("<td></td>").html(item.name); 
			var $operation = $("<td></td>")
			.html("<a href='javascript:doShowEditModel()' class='ui mini teal basic button'>编辑</a>"
				+"<a href='#' class='ui mini red basic button'>删除</a>") ;
			var $tr = $("<tr></tr>")
			.append($id)
			.append($name)
			.append($operation);
			$("#dataBodyId").append($tr);
		}); 
		
	}else if(result.state==0) {
		$td = $("<td></td>").html(result.message);
		$tr = $("<tr></tr>").append($td);
		$("#dataBodyId").html($tr);
	}
	
	
/* 	<tr>
	    <td>1</td>
	    <td>linux系列之常用运维命令整理笔录</td>
	    <td>
	        <a href="javascript:doShowEditModel()" class="ui mini teal basic button">编辑</a>
	        <a href="#" class="ui mini red basic button">删除</a>
	    </td>
	</tr> */
}




/*
 * 弹框 - ajax
 */
function doHideEditModel() {
	$('#editModal').modal('hide');
	$('#editForm').form("clear");//reset重置,clear清空
}
function doShowEditModel(id) {
	$('#editModal')
	.modal({
		closable  : false ,
		allowMultiple: true
	})
	.modal('show');
	if(id!=null){
		alert("doEditUI");
	}
}
function doUpdateData(){
	$("#editLoader").addClass("active");
	var id = null ; 
	var name = $("#editName").val() ; 
	var params = {
		id: id , 
		name : name
	} ; 
	var url = "[[@{/type/insertType}]]" ; //添加
	var type = "POST" ; 
	if(id!=null&&id!=''){
		url="[[@{/type/editType}]]" ; //修改
		type="PUT" ; 
	}
	$.ajax({
		url: url , 
		data: params, 
		type: type , 
		async: true , 
		success: function(result) {
			doShowResultModel(result);
		}, 
		error: function(result) {
			alert("error");
		} , 
		complete : function(XMLHttpRequest, textStatus) {
			doHideEditModel();
			$("#editLoader").removeClass("active");
		}
	});
}
function doShowResultModel(result) {
	if(result.state==1) {
		$("#resultMessage").html(result.message);
	}else if(result.state==0) {
		$("#resultMessage").html("<font color='red'>"+result.message+"</font>");
	}
	$('#resultModel').modal('show');
}
/*
 * 表单检验
 */
$('#editForm').form({ // 指定一些规则
	fields: {
	     name : {
	         identifier : 'editName' ,  //name
	         rules : [{
	             type: 'empty' ,
	             prompt : '名称:请输入名称'
	         }]
	     }
    } , //fields
    setting:{
    },
    onSuccess : function(event) {
    	doUpdateData() ; //更新
    },
    inline : true,
	//on     : 'blur' //马上提示
}) ;
function isExistName(e) {
	var name = $("#editName").val() ;
    var url = '[[@{/type/isExistName}]]' ; 
    var params = {
    	name : name 
    }
    $.ajax({
    	async: false  , 
    	type: "GET" , 
    	url: url , 
    	data: params , 
    	success: function(result) {
	    	if(result.state==1){
	    		if(result.data) {
	    			alert("名字重复!");
	    		}
			}
    	} 
    });
}
$(document).on("change" , "#editName" , function(e) {
	isExistName(e) ;
});
</script>


</div>


<!--                                                                                        
                                                                                       
                                                                                       
      ,---,                        ,---,                        ,---,                  
    ,---.'|   ,---.              ,---.'|   ,---.              ,---.'|   ,---.          
    |   | :  '   ,'\             |   | :  '   ,'\             |   | :  '   ,'\         
    |   | | /   /   |            |   | | /   /   |            |   | | /   /   |        
  ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :        
 /   ,'   |'   | |: :         /   ,'   |'   | |: :         /   ,'   |'   | |: :        
.   '  /  |'   | .; :        .   '  /  |'   | .; :        .   '  /  |'   | .; :        
'   ; |:  ||   :    |        '   ; |:  ||   :    |        '   ; |:  ||   :    |        
|   | '/  ' \   \  /         |   | '/  ' \   \  /         |   | '/  ' \   \  /         
|   :    :|  `----'          |   :    :|  `----'          |   :    :|  `----'          
 \   \  /                     \   \  /                     \   \  /                    
  `----'                       `----'                       `----'                     
                                                                                       -->


<th:block th:replace="/fragments/_fragments :: common-script"></th:block>




</body>
</html>