

<!--mind 中间内容-->

    <!--container，外层容器，适合响应移动端-->
    <div class="ui container">



        <!--1-->
        <form action="#" method="POST" class="ui segment form">
            <div class="fields inline">
            <!--inline：宽度非全-->
                <div class="field">
                    <input type="text" placeholder="标题" name="title">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <div class="default text">分类</div><!--default浅色-->
                        <i class="dropdown icon"></i><!--自动靠右-->
                        <div class="menu">
                            <div class="item" data-value="1">错误日志</div>
                            <div class="item" data-value="1">开发者手册</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui teal basic button mini"><i class="search icon"></i>搜索</button>
                </div>

            </div>
        </form>

        <!--2-->
        <table class="ui celled table"><!--celled网格-->
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                   <!--  <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th> -->
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>linux系列之常用运维命令整理笔录</td>
                   <!--  <td>认知升级</td>
                    <td>是</td>
                    <td>2020-1-14 22:48:54</td> -->
                    <td>
                        <a href="#" class="ui mini teal basic button">编辑</a>
                        <a href="#" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3"><!--colspan合并列-->
                        	<a href="#" class="ui positive   button item left aligned">添加</a>
                        <div class="ui right floated pagination menu">
                            <a class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="item">1</a>
                            <a class="item">2</a>
                            <a class="item">3</a>
                            <a class="item">4</a>
                            <a class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>
<script type="text/javascript">
<!--

//-->
$(function() {
	//右上角 角色管理
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
});
</script>

