<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- 后台管理界面 -->
<!-- 引入 -->
<head th:insert="/fragments/_fragments :: head('分类管理界面')"></head>
<body>
<!-- 引入 -->
<nav th:replace="/fragments/_fragments :: menu(null)"></nav>



<!--                                                                                        
                                                                                       
                                                                                       
      ,---,                        ,---,                        ,---,                  
    ,---.'|   ,---.              ,---.'|   ,---.              ,---.'|   ,---.          
    |   | :  '   ,'\             |   | :  '   ,'\             |   | :  '   ,'\         
    |   | | /   /   |            |   | | /   /   |            |   | | /   /   |        
  ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :        
 /   ,'   |'   | |: :         /   ,'   |'   | |: :         /   ,'   |'   | |: :        
.   '  /  |'   | .; :        .   '  /  |'   | .; :        .   '  /  |'   | .; :        
'   ; |:  ||   :    |        '   ; |:  ||   :    |        '   ; |:  ||   :    |        
|   | '/  ' \   \  /         |   | '/  ' \   \  /         |   | '/  ' \   \  /         
|   :    :|  `----'          |   :    :|  `----'          |   :    :|  `----'          
 \   \  /                     \   \  /                     \   \  /                    
  `----'                       `----'                       `----'                     
                                                                                       -->

<!--mind 中间内容-->
<div id="mainContentId" class="m-container-large m-padded-tb-big"><!--m-padded-tb-big 自定义-->



<div class="ui container"><!--container，外层容器，适合响应移动端-->
    <!--1-->
    <form action="javascript:doFindPageObjects(1)" class="ui segment form">
        <div class=" fields inline"><!--inline：宽度非全-->
        	<!-- 输入框 -->
            <div class=" field">
                <input type="text" placeholder="类型" name="searchName">
            </div>
            <!-- 搜索按钮 -->
            <div class="field">
                <button class="ui teal  button" ><i class="search icon"></i>搜索</button>
            </div>
        	<div>
        		<font id="totalDataCountId" >xx</font> 条数据
			</div>
        </div>
    </form>
    <!--2-->
    <table class="ui celled teal table "><!--celled网格-->
        <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="dataBodyId">
        	<!-- 主数据 -->
            <tr><td>loading...</td></tr>
        </tbody>
        <tfoot id="dataFootId">
            <tr>
                <th colspan="3" class="actions"><!--colspan合并列-->
                   	<a href="javascript:doShowEditModal()" class="ui green inverted button item left aligned">添加</a>
                    <div id="pageCurrentMenuId" class="ui right floated pagination menu">
                        
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- 填写~弹窗 -->
<div id="editModal" class="ui modal small transition coupled first">
	<!-- 加载器 -->
	<div id="editLoader" class="ui inverted dimmer">
	  <div class="ui text loader">处理中</div>
	</div>
	<!-- 表格 -->
	<div class="header">添加分类</div>
	<div class="content">
	  <div class="ui form">
	  	<div class="field" style="display:none;">
	  		<input id="editId">
	  	</div>
		<div class="field">
			<div class="ui left labeled input">
			 	<label for="editName" class="ui teal basic label">名称</label>
			    <input id="editName" placeholder="分类名称" type="text" >
			</div>
		</div>
		<div class="actions aligned right">
			<div onclick="javascript:doHideEditModal()" class="ui button">Cancel</div>
			<div class="ui green button submit">确认</div>
		</div>
	  </div>
	</div>
</div>
<!-- 结果~弹窗 -->
<div id="resultModel" class="ui mini second coupled modal transition" >
	<div class="ui header">处理结果</div>
  <div class="content">
    <div class="description">
      <p id="resultMessage">這是全部了！</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui approve button"><i class="checkmark icon"></i> 知道了 </div>
  </div>
</div>


<script type="text/javascript">
/*
 * 编辑
 */
 $("#dataBodyId").on("click" , ".edit" , function() {
	alert("编辑") ;
}) ; 
/*
 * 删除
 */
$("#dataBodyId").on("click" , ".delete" , function(e) {
	var $tr = $(this).parents("tr") ; 
	var data = $tr.data("rowData");
	if(confirm("确认删除 "+data.name + "?")) {
		var id = data.id ;
		deleteObject(id) ; 
	}
}) ;
//ajax - delete
function deleteObject(id) {
	var url = "[[@{/type/deleteObject}]]" ; 
	$.ajax({
		url : url ,
		data: {id:id} , 
		type: "delete" , 
		success: function(result) {
			doShowResultModel(result);
		}
	}) ;
}
/*
 * 分页
 */
//init
$(document).ready(doFindPageObjects(1));
$("#pageCurrentMenuId").on("click","a", function(e) {
	var page = 1 ;  
	var $active = $(this).siblings(".active") ; 
	if($(this).hasClass("previous")){
		if($active.prev().hasClass("previous")) return ;
		page = $active.prev().html() ;  
	}else if($(this).hasClass("next")) {
		debugger;
		if($active.next().hasClass("next")) return ; 
		page = $active.next().html() ;  
	}else {
		page = $(this).html() ;
	}
	doFindPageObjects(page);
});
//find - page - ajax
function doFindPageObjects( pageCurrent , name ) {
	if(pageCurrent==null) pageCurrent = $("#pageCurrentMenuId a.active").html();
	if(name==null) name = $("[name='searchName']").val() ; 
	var url = "[[@{/type/findPageObject}]]" ; 
	$.ajax({
		url: url , 
		data: {
			name: name , 
			pageCurrent: pageCurrent
		}, 
		type: "GET" ,
		dataType: "json" , 
		success: function(result) {
			showResultData(result) ; 
		}
	});
};
//展示页面数据
function showResultData(result) {
	var totalDataCount = 0 ; // 总数据 
	if(result.state==1) { //查找成功
		$("#dataBodyId").empty();
		var pageObject = result.data ;
		//-------------------------- 数据(主题)
		$.each(pageObject.datas , function(index , item) {
			var $index = $("<td></td>").html(index+1); 
			var $name = $("<td></td>").html(item.name); 
			var $operation = $("<td></td>") //
			.html("<a class='ui mini blue inverted button edit'>编辑</a>"
				 +"<a class='ui mini red inverted button delete'>删除</a>") ;
			var $tr = $("<tr></tr>") // 行节点
			.append($index)
			.append($name)
			.append($operation);
			$("#dataBodyId").append($tr);
			//--------------- data 存id
			$tr.data("rowData" , item);
		}); 
		//---------------------
		showPageMenu(pageObject.pageTotal, pageObject.pageCurrent); //页码
		totalDataCount = pageObject.totalDataCount//总数据
	}else if(result.state==0) {//查找失败
		$td = $("<td></td>").html(result.message);
		$tr = $("<tr></tr>").append($td);
		$("#dataBodyId").html($tr);
	}
	$("#totalDataCountId").html(totalDataCount);
}
//更新页码
//page-menu
function showPageMenu(pageTotal , pageCurrent) {
	var menu = $("#pageCurrentMenuId") ; 
	menu.empty();
	menu.append("<a class='icon item previous'><i class='left chevron icon'></i></a>");
	for(var i=1 ; i<=pageTotal ; i++) {
		var n = $("<a class='item'>"+i+"</a>") ;
		if(i==pageCurrent){
			n.addClass("active");
		}
		menu.append(n);
	}
	menu.append("<a class='icon item next'><i class='right chevron icon'></i></a>");
}

/*
 * 弹框 - ajax
 */
//[隐藏]编辑弹窗
function doHideEditModal() {
	$('#editModal').modal('hide');
	$('#editModal .form ').form("clear");//reset重置,clear清空
}
//[显示]编辑弹窗
function doShowEditModal(id) {
	$('#editModal')
	.modal({
		closable  : false ,
		allowMultiple: true
	})
	.modal('show');
	if(id!=null){
		alert("doEditUI");
	}
}
//ajax 更新数据
function doUpdateData(){
	$("#editLoader").addClass("active");
	var id = null ; 
	var name = $("#editName").val() ; 
	var params = {
		id: id , 
		name : name
	} ; 
	var url = "[[@{/type/insertType}]]" ; //添加
	var type = "POST" ; 
	if(id!=null&&id!=''){
		url="[[@{/type/editType}]]" ; //修改
		type="PUT" ; 
	}
	$.ajax({
		url: url , 
		data: params, 
		type: type , 
		async: true , 
		success: function(result) {
			doShowResultModel(result);
		}, 
		error: function(result) {
			alert("error");
		} , 
		complete : function(XMLHttpRequest, textStatus) {
			doHideEditModal();
			$("#editLoader").removeClass("active"); // dimmer
		}
	});
}
/*
 * 展示结果信息
 */
function doShowMessageModel(message) {
	$("#resultMessage").html(message);
	$('#resultModel').modal('show');
}
//显示 并 刷新 - 用于 ajax 后
function doShowResultModel(result) {
	if(result.state==1) {
		$("#resultMessage").html(result.message);
		doFindPageObjects() ; //更新页面数据
	}else if(result.state==0) {
		$("#resultMessage").html("<font color='red'>"+result.message+"</font>");
	}
	$('#resultModel').modal('show');
}
/*
 * 表单检验
 */
$('#editModal .form').form({ // 指定一些规则
	fields: {
	     name : {
	         identifier : 'editName' ,  //name
	         rules : [{
	             type: 'empty' ,
	             prompt : '名称:请输入名称'
	         }]
	     }
    } , //fields
    setting:{
    },
    onSuccess : function(event) {
    	doUpdateData() ; //更新
    },
    inline : true,
	//on     : 'blur' //马上提示
}) ;
function isExistName(e) {
	var name = $("#editName").val() ;
    var url = '[[@{/type/isExistName}]]' ; 
    var params = {
    	name : name 
    }
    $.ajax({
    	async: true , 
    	type: "GET" , 
    	url: url , 
    	data: params , 
    	success: function(result) {
	    	if(result.state==1){
	    		if(result.data) {
	    			alert("名字重复!");
	    		}
			}
    	} 
    });
};
$("#editModal").on("change" , "#editName" , function(e) {
	isExistName(e) ;
});
</script>


</div>


<!--                                                                                        
                                                                                       
                                                                                       
      ,---,                        ,---,                        ,---,                  
    ,---.'|   ,---.              ,---.'|   ,---.              ,---.'|   ,---.          
    |   | :  '   ,'\             |   | :  '   ,'\             |   | :  '   ,'\         
    |   | | /   /   |            |   | | /   /   |            |   | | /   /   |        
  ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :          ,--.__| |.   ; ,. :        
 /   ,'   |'   | |: :         /   ,'   |'   | |: :         /   ,'   |'   | |: :        
.   '  /  |'   | .; :        .   '  /  |'   | .; :        .   '  /  |'   | .; :        
'   ; |:  ||   :    |        '   ; |:  ||   :    |        '   ; |:  ||   :    |        
|   | '/  ' \   \  /         |   | '/  ' \   \  /         |   | '/  ' \   \  /         
|   :    :|  `----'          |   :    :|  `----'          |   :    :|  `----'          
 \   \  /                     \   \  /                     \   \  /                    
  `----'                       `----'                       `----'                     
                                                                                       -->


<th:block th:replace="/fragments/_fragments :: common-script"></th:block>




</body>
</html>