
<!-- <title>归档</title> -->



<!--mind 中间内容-->

<!--container，外层容器，适合响应移动端-->
<div class="ui container ">

        <!--header-->
        <div class="ui segment">

            <h2 class="ui header">
                <img src="dist/images/plugin.png">
                <div class="content">
                    归档
                  <div class="sub header"> 共 <h2 class="ui orange header m-inline-block m-text-thin"> 114 </h2> 篇博客</div>
                </div>
              </h2>
      

        <h2 class="ui center aligned black justified  header">2020</h2>
        <div class="ui vertical fluid menu">
            <a href="#" class="item">
                <span>
                    <i class="mini teal circle icon"></i> linux系列之常用运维命令整理笔录
                    <div class="ui teal basic left pointing label m-padded-mini">9月03</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    <i class="mini teal circle icon"></i> linux系列之常用运维命令整理笔录
                    <div class="ui teal basic left pointing label m-padded-mini">9月03</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    <i class="mini teal circle icon"></i> linux系列之常用运维命令整理笔录
                    <div class="ui teal basic left pointing label m-padded-mini">9月03</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
        </div>


        <h2 class="ui center aligned justified header">2019</h2>
        <div class="ui vertical fluid menu">
            <a href="#" class="item">
                <span>
                    <i class="mini teal circle icon"></i> linux系列之常用运维命令整理笔录
                    <div class="ui teal basic left pointing label m-padded-mini">9月03</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    <i class="mini teal circle icon"></i> linux系列之常用运维命令整理笔录
                    <div class="ui teal basic left pointing label m-padded-mini">9月03</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
            <a href="#" class="item">
                <span>
                    <i class="mini teal circle icon"></i> linux系列之常用运维命令整理笔录
                    <div class="ui teal basic left pointing label m-padded-mini">9月03</div>
                </span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
        </div>
    </div>


    </div>
