<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- 引入 -->
<head th:replace="@{/fragments/_fragments} :: head('分类')"></head>
<body>
<!-- 引入 -->
<nav th:replace="@{/fragments/_fragments} :: menu(2)"></nav>



<!-- *************************************************************** -->
<!-- *************************************************************** -->
<!-- *************************************************************** -->
<!-- *************************************************************** -->
<!--mind 中间内容-->
<div id="mainContentId" class="m-container-large m-padded-tb-big"><!--m-padded-tb-big 自定义-->


	<!--     <title>分类</title> -->
    <!--container，外层容器，适合响应移动端-->
    <div class="ui container ">

        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 个
                </div>
            </div>
        </div>

         <!--标签s-->
        <!-- tb: top bottom -->
        <div class="ui attached segment m-padded-tb-large ">

             <!--选中用 teal-->
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">思考与感慨</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <!--没选中 没teal-->
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">思考与感慨</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">菜单</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">思考与感慨</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">菜单</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">思考与感慨</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">菜单</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">思考与感慨</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">菜单</a>
                <div class="ui basic left pointing label">24</div>
            </div>

        </div>
        
         <!--正文-->
        <div class="ui teal  top segment">

            <!--文章容器-->
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-mobile-clear">
                <!--
                padded
                m-padded-lr-mobile-clear
                自定义，移动端左右padded清除
                -->
                <!-- 文章1 -->
               <!--  mobile reversed:图片上面显示 -->
               <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                       <h3 class="ui header">linux系列之常用运维命令整理笔录</h3>
                       <p>本博客记录工作中需要的linux运维命令，大学时候开始接触linux，
                           会一些基本操作，可是都没有整理起来，加上是做开发，不做运维，有些命令忘记了，
                           所以现在整理成博客....
                           https://blog.csdn.net/u014427391/article/details/102785219
                       </p>
                       <div class="ui stackable grid"><!-- 下标 -->
                           <!--semantic width 16-->
                           <div class="eleven wide column">
                               <!--horizontal:水平布局-->
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <!--avatar : 小圆形-->
                                       <img src="dist/images/placeholder.jpg" alt="" class="ui avatar image">
                                       <!--content 加一些文字 -->
                                       <div class="content">
                                           <!--原先h3, 现在a标签，让颜色变蓝-->
                                           <a href="#" class="header">lawssssCat</a>
                                       </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i>2017-10-01
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i>2342
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                           </div>
                       </div>
                   </div>
                    <div class="five wide column"><!--图片-->
                       <a href="#" target="_blank">
                           <!--image:图片在div内-->
                           <!--备选占位图:
                               href=https://unsplash.it/800/450?image=1005
                           -->
                           <img src="dist/images/index-read.gif" alt="" class="ui rounded image">
                       </a>
                   </div>
   
               </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-mobile-clear">
                <!--
                padded
                m-padded-lr-mobile-clear
                自定义，移动端左右padded清除
                -->
                <!-- 文章1 -->
               <!--  mobile reversed:图片上面显示 -->
               <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                       <h3 class="ui header">linux系列之常用运维命令整理笔录</h3>
                       <p>本博客记录工作中需要的linux运维命令，大学时候开始接触linux，
                           会一些基本操作，可是都没有整理起来，加上是做开发，不做运维，有些命令忘记了，
                           所以现在整理成博客....
                           https://blog.csdn.net/u014427391/article/details/102785219
                       </p>
                       <div class="ui stackable grid"><!-- 下标 -->
                           <!--semantic width 16-->
                           <div class="eleven wide column">
                               <!--horizontal:水平布局-->
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <!--avatar : 小圆形-->
                                       <img src="dist/images/placeholder.jpg" alt="" class="ui avatar image">
                                       <!--content 加一些文字 -->
                                       <div class="content">
                                           <!--原先h3, 现在a标签，让颜色变蓝-->
                                           <a href="#" class="header">lawssssCat</a>
                                       </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i>2017-10-01
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i>2342
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                           </div>
                       </div>
                   </div>
                    <div class="five wide column"><!--图片-->
                       <a href="#" target="_blank">
                           <!--image:图片在div内-->
                           <!--备选占位图:
                               href=https://unsplash.it/800/450?image=1005
                           -->
                           <img src="dist/images/index-read.gif" alt="" class="ui rounded image">
                       </a>
                   </div>
   
               </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-padded-lr-mobile-clear">
                <!--
                padded
                m-padded-lr-mobile-clear
                自定义，移动端左右padded清除
                -->
                <!-- 文章1 -->
               <!--  mobile reversed:图片上面显示 -->
               <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                       <h3 class="ui header">linux系列之常用运维命令整理笔录</h3>
                       <p>本博客记录工作中需要的linux运维命令，大学时候开始接触linux，
                           会一些基本操作，可是都没有整理起来，加上是做开发，不做运维，有些命令忘记了，
                           所以现在整理成博客....
                           https://blog.csdn.net/u014427391/article/details/102785219
                       </p>
                       <div class="ui stackable grid"><!-- 下标 -->
                           <!--semantic width 16-->
                           <div class="eleven wide column">
                               <!--horizontal:水平布局-->
                               <div class="ui horizontal link list">
                                   <div class="item">
                                       <!--avatar : 小圆形-->
                                       <img src="dist/images/placeholder.jpg" alt="" class="ui avatar image">
                                       <!--content 加一些文字 -->
                                       <div class="content">
                                           <!--原先h3, 现在a标签，让颜色变蓝-->
                                           <a href="#" class="header">lawssssCat</a>
                                       </div>
                                   </div>
                                   <div class="item">
                                       <i class="calendar icon"></i>2017-10-01
                                   </div>
                                   <div class="item">
                                       <i class="eye icon"></i>2342
                                   </div>
                               </div>
                           </div>
                           <div class="right aligned five wide column">
                               <a href="#" target="_blank" class="ui teal basic label m-padded-mini m-text-thin">认知升级</a>
                           </div>
                       </div>
                   </div>
                    <div class="five wide column"><!--图片-->
                       <a href="#" target="_blank">
                           <!--image:图片在div内-->
                           <!--备选占位图:
                               href=https://unsplash.it/800/450?image=1005
                           -->
                           <img src="dist/images/index-read.gif" alt="" class="ui rounded image">
                       </a>
                   </div>
   
               </div>
            </div>
            
            
        </div>
        <!--
        内容 - footer！
        -->
        <div class="ui  bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <!-- basic:按钮变白-->
                    <a href="#" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>


</div>
<!-- *************************************************************** -->
<!-- *************************************************************** -->
<!-- *************************************************************** -->
<!-- *************************************************************** -->


<br>
<br>


<script th:replace="@{/fragments/_fragments} :: common-script" type="text/javascript"></script>

</body>
</html>



