<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <style>
      .css01 {
        color: red;
      }
    </style>

    <div id="app">
      <h1>模板语法</h1>

      <h2>变量和事件</h2>
      <p>{{message}}</p> <!-- 渲染变量（不解析标签） -->
      <p v-html="message"></p> <!-- 渲染变量（渲染标签） -->
      <p> <!-- 双向绑定 -->
        <input v-model="message" placeholder="edit me!"/> <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
      </p>
      <p> <!-- 属性变量 -->
        <a v-bind:href="href01">超链接</a> -
        <a :href="href01">超链接（简写）</a> -
        <a :href="href01 + '/calc'" :class="{ css01: true }" :style="{fontSize: number + 'px'}">超链接（计算）</a> -
        <a v-bind:[attributename]="href01">超链接（动态属性）</a> -
      </p>
      <p> <!-- 变量计算 -->
        {{ number + 1 }}, {{ ok ? 'yes' : 'no' }},
        {{ message.split(' ').reverse().join(' ') }}
      </p>
      <p> <!-- 事件触发 -->
        <!-- 注意：零参数默认传event事件，否则需要$event注入事件 -->
        <button v-on:click="count++">点击</button>/<button v-on:click="addOne(2,$event)">点击+2</button>/<button @click="addOne(3,$event),console.log('touch')">点击+3</button>: {{ count }}
        <br>
        按键修饰符： <a href="https://vueframework.com/docs/v3/cn/guide/migration/keycode-modifiers.html">link</a> （keyup = 按下后的释放事件） <br>
        <br>
        <input @keyup.enter="console.log('enter')" @keyup.page-down="console.log('page-down')">
        系统修饰键：
        <li>.ctrl</li> <!-- @click.ctrl = Ctrl + Click -->
        <li>.alt</li> <!-- @keyup.alt.enter = Alt + Enter -->
        <li>.shift</li>
        <li>.meta</li>
        精确修饰组合：允许你精确的控制组合触发事件
        <li>.exact</li>
        <!-- @click.ctrl = 即使 Alt 或 Shift 被同时按下也会触发 -->
        <!-- @click.ctrl.exact = 只有 Ctrl 被按下才会触发 -->
        <!-- @click.exact = 没有任何系统修饰符被按下时才会触发 -->
        鼠标按钮修饰符：
        <li>.left</li>
        <li>.right</li>
        <li>.middle</li>
      </p>
      <hr>

      <h2>条件渲染</h2>
      <p><button @click="awesome++">变</button> {{awesome}}:</p>
      <p> <!-- 是否渲染 -->
        <!-- 注意：template标签是vue自创的，作用就是不会被vue渲染 -->
        <template v-if="awesome%3==1">Vue is awesome!</template>
        <template v-else-if="awesome%3===2">Oh no 😨 xxx</template>
        <template v-else>Oh no 😨 ???</template>
      </p>
      <p> <!-- 是否显示 -->
        <!-- 注意： 1. v-show 不支持 <template> 2. v-show 不支持 v-else-show / v-else -->
        <span v-show="awesome%2==1">Vue is awesome!</span>
        <span v-show="awesome%2===0">Oh no 😨 xxx</span>
      </p>
      <hr>

      <h2>列表渲染</h2>
      <p>
        <span v-for="n in 10" :key="n">{{ n }}</span>
      </p>
      <p> <!-- 数组循环 -->
        <!-- 注意：key的使用 -->
        <span v-for="(item,index) in items" :key="item.id">{{ index }} - {{ item }}, </span><br> <!-- 两参数，数组 -->
        <span v-for="(value,key) in obj" :key="key">{{ key }} - {{ value }}, </span><br> <!-- 两参数，对象 -->
        <span v-for="(value,key,index) in obj" :key="key">{{ index }} - {{ key }} - {{ value }}, </span><br> <!-- 三参数，对象 -->
      </p>
      <p> <!-- 对象循环 -->
        <!-- 注意：key的使用 -->
        <span v-for="(value,key) of items" :key="key">{{ key }}: {{ value }}</span>,
      </p>
      <p>
        <!-- v-for 和 v-if 同时使用 -->
         <!-- 注意：不要写在同一个标签上，否则可能有意外现象 -->
         <template v-for="item in items" :key="item.id">
          <li v-if="!(item.id==1)">
            {{item.id}} - {{item.message}}
          </li>
         </template>
      </p>
      <hr>

    </div>

    <script>
      const App = {
        data() {
          return {
            message: "hello <span style='color:red'>vue</span>!!",
            href01: "http://example.org/",
            attributename: "href", // 不能有大写（attributeName），否则解析失败（且没有报错日志 “坑”）
            number: 14,
            ok: true,
            addOne: (val, event) => {
              console.log(event);
              this.count += val ? val : 1;
            },
            count: 0,
            awesome: 1,
            items: [
              {id:1, message: 'Foo'},
              {id:2, message: 'Bar'}
            ],
            obj: {
              f1: "v1",
              f2: "v2"
            }
          };
        },
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
