<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.myblog.dao.UserDao">
<!-- ************************************************************************************ -->
<!-- ************************************************************************************ -->
<!-- *************                                                         ************** -->
<!-- *************           c o m m o n                                   ************** -->
<!-- *************                                                         ************** -->
<!-- ************************************************************************************ -->
<!-- ************************************************************************************ -->

<sql id="allColumnsId" >
	id , 
	username , 
	password , 
	salt  , 
	nickname , 
	mobile , 
	qq , 
	email , 
	avatar_url  , 
	valid , 
	created_time  , 
	modified_time  
</sql>


<resultMap type="User" id="userMapId">
	<id column="id" property="id"/>
	<result column="username" 		property="username"/>
	<result column="password" 		property="password"/>
	<result column="salt" 			property="salt"/>
	<result column="nickname" 		property="nickname"/>
	<result column="mobile" 		property="mobile"/>
	<result column="qq" 			property="qq"/>
	<result column="email" 			property="email"/>
	<result column="avatar_url" 	property="avatarUrl"/>
	<result column="valid" 			property="valid"/>
	<result column="created_time" 	property="createdTime"/>
	<result column="modified_time" 	property="modifiedTime"/>
</resultMap>



<!-- ************************************************************************************ -->
<!-- ************************************************************************************ -->
<!-- *************                                                         ************** -->
<!-- *************           S i n g l e - T a b l e                       ************** -->
<!-- *************                                                         ************** -->
<!-- ************************************************************************************ -->
<!-- ************************************************************************************ -->


<!-- 插入 -->
<insert id="insertObject" 
 keyProperty="id" keyColumn="id" useGeneratedKeys="true">
	insert into b_user
	(<include refid="allColumnsId" />) 
	value
	(
	 #{id} , 
	 #{username} , 
	 #{password}, 
	 #{salt}, 
	 #{nickname },
	 #{mobile} , 
	 #{qq} , 
	 #{email}, 
	 #{avatarUrl}, 
	 #{valid}, 
	 now(), 
	 now()  
	 )
</insert>




<!-- 查找 id -->
<select id="findObjectById" resultMap="userMapId">
	select 
	<include refid="allColumnsId" />
	from  b_user
	<where>
		id = #{id}
	</where>
</select>

<!-- 查找 username -->
<select id="findObjectByUsername" resultMap="userMapId">
	select 
	<include refid="allColumnsId" />
	from b_user
	<where> 
		username = #{username}
	</where>
</select>



<!-- ************************************************************************************ -->
<!-- ************************************************************************************ -->
<!-- *************                                                         ************** -->
<!-- *************             J o i n t - T a b l e                       ************** -->
<!-- *************                                                         ************** -->
<!-- ************************************************************************************ -->
<!-- ************************************************************************************ -->


</mapper>