### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

#.idea/
.idea/vcs.xml
# *.iml # 1、记录文件结构，方便idea二次导入项目；2、无绝对路径 = 可保留

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store